<section class="content-aceptados">
    
    <div class="content-select">
        
           
            <mat-select [(value)]="selected"  (selectionChange)="capturar($event)">
              <mat-option *ngFor="let name of selectViajes" value="{{name}}">{{name}}</mat-option>
             
             
            </mat-select>
        
    </div>   
    <div *ngIf="loader" >
        <div class="img-loader2">
            <img src="../../../../assets/img/Ripple-1s-200px (2).gif" alt="">
        </div>
    </div>  
        
   <div class="content-viajes">
        <app-trip [availableTrips]=viajesDisponibles [valueSelectTravel]=opcionSeleccionada [travelAccepted]=acceptedTravel 
    [viajesComenzados]=viajesEmpezados></app-trip>
  </div>
</section>

