<main>
    <section>
        <div class="content-footer">
            <img src="../../../../assets/img/Azul Tecnología y Juegos Logotipo (1) 2.png" alt="" width="30px">
            <app-footer></app-footer>
        </div>
        <div class="content-inicio" #element3>
            <h2 class="animate__animated animate__bounceIn bienvenido">¡BIENVENIDO!</h2>
            <img src="../../../../assets/img/icons8-usuario-masculino-en-círculo-96.png" alt="" width="50px" class="img-usuario">
            <h2 class="bienvenido">{{name}}</h2>
        </div>
        <div class="content-flecha">
            <p>¿Que querés hacer?</p>
            <img src="../../../../assets/img/Group 29.png" alt="" class="animate__animated animate__bounce animate__infinite infinite">
        </div>
    </section>
   
</main>

